@import '~@angular/material/theming';
@include mat-core();

$fb-blue: (
  50 : #eef1ff,
  100 : #d4dcff,
  200 : #b8c4ff,
  300 : #9cacff,
  400 : #869bff,
  500 : #7189ff,
  600 : #6981ff,
  700 : #5e76ff,
  800 : #546cff,
  900 : #4259ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #eaecff,
  A700 : #d0d5ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$fb-sky: (
    50 : #f8f9ff,
    100 : #ecf0ff,
    200 : #e0e7ff,
    300 : #d4ddfe,
    400 : #cad5fe,
    500 : #c1cefe,
    600 : #bbc9fe,
    700 : #b3c2fe,
    800 : #abbcfe,
    900 : #9eb0fd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fb-pink: (
    50 : #faeaee,
    100 : #f2cad5,
    200 : #e9a7b9,
    300 : #e0849d,
    400 : #da6988,
    500 : #d34f73,
    600 : #ce486b,
    700 : #c83f60,
    800 : #c23656,
    900 : #b72643,
    A100 : #fff5f7,
    A200 : #ffc2cd,
    A400 : #ff8fa3,
    A700 : #ff758e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fb-primary: mat-palette($fb-blue);
$fb-accent: mat-palette($fb-sky);
$fb-warn: mat-palette($fb-pink);

$fb-theme: mat-light-theme($fb-primary, $fb-accent, $fb-warn);

@include angular-material-theme($fb-theme);
