<div class="customer-list__container">
  <h3>Demo Accounts</h3>
  <nb-card
    accent="primary"
    *ngFor="let customer of customers"
    class="customer-list__customer-card"
  >
    <nb-card-header
      >{{ customer.firstName }} {{ customer.lastName }}</nb-card-header
    >
    <nb-card-body>
      <p>Email: {{ customer.email }}</p>
      <div class="customer-list__custom-card__opts__wrap">
        <button
          nbButton
          status="success"
          size="small"
          outline
          (click)="startTransaction(customer._id, transactionDialog)"
        >
          Make a Transaction
        </button>
        <button
          nbButton
          status="info"
          size="small"
          outline
          (click)="showUserAccounts(customer._id, userAccountsDialog)"
        >
          View Accounts
        </button>
        <button
          nbButton
          status="danger"
          size="small"
          outline
          (click)="deleteCustomer(customer._id)"
        >
          Delete User
        </button>
      </div>
    </nb-card-body>
    <nb-card-footer
      >Number of accounts: {{ customer.accounts.length }}</nb-card-footer
    >
  </nb-card>

  <ng-template #welcomeDialog let-ref="dialogRef">
    <nb-card class="customer-list__welcome-dialog">
      <nb-card-header>Welcome to Fake Bank!</nb-card-header>
      <nb-card-body>
        <p>
          This is a distributed electronic banking platform. You can make
          transactions between the demo accounts provided. Each transaction will
          be evaluated by an external api for its validity.
        </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="success" (click)="ref.close()">Got it</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #transactionDialog let-ref="dialogRef">
    <nb-card class="card__wrap">
      <nb-card-body>
        <nb-stepper orientation="horizontal" linear="true">
          <nb-step label="Transaction type">
            <h4>Choose transaction type</h4>
            <div>
              <nb-select
                fullWidth
                status="success"
                placeholder="transaction type"
                [(selected)]="transactionRequest.type"
              >
                <nb-option value="deposit">deposit</nb-option>
                <nb-option value="withdrawal">widthrawal</nb-option>
                <nb-option value="transfer">transfer</nb-option>
              </nb-select>
            </div>
            <div class="customer_list__transaction-dialog__opts">
              <button nbButton disabled nbStepperNext>prev</button>
              <button
                nbButton
                nbStepperNext
                [disabled]="!transactionRequest.type"
              >
                next
              </button>
            </div>
          </nb-step>
          <nb-step label="Information">
            <h4>Provide transaction information</h4>
            <div>
              <input
                style="margin-bottom: 20px;"
                type="text"
                nbInput
                fullWidth
                status="success"
                placeholder="deposit amount"
                *ngIf="transactionRequest.type === 'deposit'"
              />
              <nb-select
                fullWidth
                placeholder="select account"
                *ngIf="transactionRequest.type === 'deposit'"
              >
                <nb-option
                  value="acc"
                  *ngFor="
                    let acc of transactionFormData.customerCurrentAccounts
                  "
                  >Current account: {{ acc._id }}
                </nb-option>
                <nb-option
                  value="acc"
                  *ngFor="
                    let acc of transactionFormData.customerSavingsAccounts
                  "
                  >Savings account: {{ acc._id }} (current account)</nb-option
                >
              </nb-select>
              <input
                type="text"
                nbInput
                fullWidth
                status="success"
                placeholder="withdrawal amount"
                *ngIf="transactionRequest.type === 'withdrawal'"
              />
              <input
                type="text"
                nbInput
                fullWidth
                status="success"
                placeholder="transfer amount"
                *ngIf="transactionRequest.type === 'transfer'"
              />
              <nb-select
                placeholder="reciever account"
                *ngIf="transactionRequest.type === 'transfer'"
              >
                <nb-option
                  value="acc"
                  *ngFor="let acc of transactionFormData.otherCurrentAccounts"
                  >Account id: {{ acc._id }} (current account)</nb-option
                >
              </nb-select>
            </div>
            <div class="customer_list__transaction-dialog__opts">
              <button nbButton nbStepperPrevious status="warning">prev</button>
              <button nbButton nbStepperNext>confirm</button>
            </div>
          </nb-step>
          <nb-step label="Complete">
            <h4>Transaction complete</h4>
            <nb-icon icon="checkmark-circle-outline" status="success"></nb-icon>
            <nb-icon icon="close-outline" status="danger"></nb-icon>
            <span>Your transaction was successfull</span>
            <span>Your transaction was unsuccessfull</span>
            <div class="customer_list__transaction-dialog__opts">
              <button nbButton nbStepperPrevious status="warning">prev</button>
              <button nbButton nbStepperNext>next</button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </ng-template>

  <ng-template #userAccountsDialog let-ref="dialogRef">
    <nb-card class="card__wrap" [nbSpinner]="isLoading">
      <nb-card-header>Your Accounts</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let account of userAccounts">
            <div *ngIf="account.accountType === 'current'">
              <p>Current account: {{ account.accountId }}</p>
              <p></p>
              <p>Balance: {{ account.balance }} euros</p>
              <p></p>
              <p>Overdraft limit: {{ account.overdraftLimit }} euros</p>
              <p></p>
            </div>

            <div *ngIf="account.accountType === 'savings'">
              <p>Savings account: {{ account.accountId }}</p>
              <p></p>
              <p>Balance: {{ account.balance }} euros</p>
              <p></p>
              <p>APY: {{ account.apy }}%</p>
              <p></p>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </ng-template>
</div>
